/*general rules*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
}

a{
  text-decoration: none;
  color: #7d7f84;
}

a:hover{
  text-decoration: underline green;
}

.container-flex{
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 100px);
  overflow: hidden;
  flex-grow: 1;
}

  /*navbar-sx rules*/
.navbar-sx{
  background-color: #000000; /*#000000*/
  flex-basis: 25%; /*larghezza*/
  min-height: calc(100vh - 100px);
  flex-shrink: 0.40;
  padding: 6px 4px;
}

.navbar-normal{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 100px);
}

.nav-inbasso{
  margin-top: 10px;
}

#testo-navbarbasso{
  color: #717171;
}

.img-navbar-circle{
  border-radius: 50%;
  background-color: lightgrey;
}

.nav-inbasso a{
  color: white;
}

.navbar-mobile{
  display: none;
}

#logo-spotify{
  max-width: 100%;
  height: 60px;
  margin: 6px 4px;
}

.img-navbar{
  max-width: 25px;
  height: 25px;
}

strong{
  border: 1px solid lightgrey;
  background-color: lightgrey;
  color: black;
  font-size: 30px;
  padding: 1px 2px;
}

/*rules navbar mobile*/
.navbar-mobile{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 100px);
}

.nav-inbasso-2{
  margin-top: 10px;
}

.img-navbar-circle-2{
  border-radius: 50%;
  background-color: lightgrey;
}

.nav-inbasso-2 a{
  color: white;
}

#logo-spotify-2{
  max-width: 90%;
  height: 50px;
  margin: 6px 4px;
}

.img-navbar-2{
  max-width: 25px;
  height: 25px;
}

#testo-navbarbasso2{
  color: #717171;
}
/*FINE rules navbar mobile*/

  /*centrale rules*/
.centrale{
  background-color: #141922;
  flex-basis: 75%; /*larghezza*/
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
  flex-grow: 1
}

    /*upgrade rules*/
.upgrade{
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 75%;
  z-index: 1;
  padding: 10px;
  text-align: right;
}

#button-upgrade{
  margin: 16px 8px 16px 0px;
  padding: 10px 30px;
  border-radius: 20px;
  color: white;
  border: 1px solid white;
  background-color: #080b12;
  text-align: center;
}

    /*music rules*/
.music{
  background-color: #141922;
  flex-basis: calc(100vh - 100px); /*altezza*/
  overflow-y: scroll;
  padding-top: 90px;
  padding-right: 15px;
  padding-bottom: 30px;
  padding-left: 15px;
}

.music h2, h3{
  color: white;
}

.music p{
  color: #7d7f84;
}

.menu-alto{
  display: flex;
  margin: 10px 0px;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #7d7f84;
}

.brani-recenti{
  padding-top: 15px;
}

.playlist-recenti{
  display: flex;
  margin: 6px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.small-h3{
  font-size: 15px;
}

.brani-creati{
  padding-top: 15px;
}

.playlist-creati{
  display: flex;
  margin: 6px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.img-playlist-padding{
  margin-right: 10px;
}

.brani-popolari{
  padding-top: 15px;
}

.playlist-popolari{
  display: flex;
  margin: 6px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.img-playlist-radius{
  border-radius: 50%;
}


  /*FRECCIA SULL'IMMAGINE ALL'HOVER*/
figure{
  position: relative;
}

.img-playlist{
  max-height: 140px;
  max-width: 140px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.arrow-hover{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.fa-arrow-circle-right{
  color: white;
  font-size: 60px;
}

figure:hover .img-playlist {
  opacity: 0.3;
}

figure:hover .arrow-hover {
  opacity: 1;
}

figcaption{
  text-align: center;
}
  /*FINE FRECCIA SULL'IMMAGINE ALL'HOVER*/



 /*rules contenitore finale*/
.finale{
  background-color: #282828;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.finale-canzone{
  /*background-color: pink;*/
  display: flex;
  align-items: center;
}

#finale-img-canzone{
  max-width: 60px;
  max-height: 60px;
  margin-right: 15px;
}

.finale-testo{
  margin-right: 25px;
}

.fa-heart, .fa-folder{
  margin-right: 10px;
  color: #878787;
}

.finale-score{
  /*background-color: red;*/
  flex-basis: 600px;
  text-align: center;
}

.finale-comand{
  /*display: flex;*/
  align-items: center;
}

.fa-share-alt, .fa-step-backward, .fa-play-circle, .fa-step-forward, .fa-redo-alt{
  margin: 4px;
  color: white;
}

.finale-avanzamento{
  display: flex;
  align-items: center;
}

.finale-vol{
  /*background-color: lightblue;*/
  display: flex;
  align-items: center;
}

.fa-bars, .fa-tv, .fa-volume-up{
  margin: 4px;
  color: white;
}

.linea{
  position: relative;
  height: 3px;
  flex-grow: 1;
  background-color: #5a5a5a;
}

.linea:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 30%;
  background-color: white;
}

.finale-avanzamento:hover .linea:before,
.finale-vol:hover .linea:before {
  content: '';
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translate(-50% , -50%);
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
}

.linea-riga{
  width: 90px;
}


/*MEDIA QUERY*/
@media all and (max-width:420px) {

  .navbar-normal{
    display: none;
  }

  .navbar-mobile{
    display: flex;
  }

  .finale-vol{
    display: flex;
    flex-wrap: wrap;
  }

}
