/*general rules*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
}

a{
  text-decoration: none;
  color: #7d7f84;
}

a:hover{
  text-decoration: underline green;
}

.container-flex{
  display: flex;
  flex-direction: row;
  min-height: calc(1vh - 100px);
  overflow: hidden;
}

/*div{
  min-height: 100px;
}*/

  /*navbar-sx rules*/
.navbar-sx{
  background-color: red; /*#000000*/
  flex-basis: 25%; /*larghezza*/
  min-height: calc(100vh - 100px);
  flex-shrink: 0.40;
  /*position: fixed;*/
  /*flex-wrap: wrap;*/
  padding: 6px 4px;
}

.navbar-normal{
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
}

.nav-inalto{
  /*justify-content: flex-start;*/
  /*align-items: flex-start;*/
  /*align-content: flex-start;*/
}

.nav-inbasso{
  /*justify-content: flex-end;*/
  /*align-items: flex-end;*/
  /*align-content: flex-end;*/
}

.img-navbar-circle{
  border-radius: 50%;
  background-color: lightgrey;
}

.nav-inbasso a{
  color: white;
}

.navbar-mobile{
  display: none;
}

#logo-spotify{
  max-width: 100%;
  height: 60px;
  margin: 6px 4px;
}

.img-navbar{
  max-width: 25px;
  height: 25px;
}

/*.fa-plus-square {
  background-color: black; /*non funziona*/
  /*color: lightgrey; /*backgroundcolor*/
  /*line-height: 0 !important;
  font-size: 30px;
  padding-top: 10px;
  padding-right: 4px;
}*/

strong{
  border: 1px solid lightgrey;
  background-color: lightgrey;
  color: black;
  font-size: 30px;
  padding: 1px 2px;
}

/*??????*/
/*.playlist-name{
  overflow-y: scroll;
}*/



  /*centrale rules*/
.centrale{
  background-color: yellow;
  flex-basis: 75%; /*larghezza*/
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
  flex-shrink: 1;
  /*position: fixed;*/
}

    /*upgrade rules*/
.upgrade{
  background-color: blue; /*#080b12*/
  flex-basis: 80px; /*altezza*/
  /*position: fixed;*/
}

#button-upgrade{
  float: right;
  margin: 12px;
  padding: 14px;
  border-radius: 20px;
  color: white;
  border: 1px solid white;
  background-color: #080b12;
}

    /*music rules*/
.music{
  background-color: green;
  flex-basis: calc(100vh - 180px); /*altezza*/
  overflow-y: scroll;
}

.music h2, h3{
  color: white;
}
.music p{
  color: #7d7f84;
}

.menu-alto{
  display: flex;
  margin: 10px 0px;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #7d7f84;
}

.brani-recenti{
  padding-top: 15px;
}

.playlist-recenti{
  display: flex;
  margin: 6px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.small-h3{
  font-size: 15px;
}

.brani-creati{
  padding-top: 15px;
}

.playlist-creati{
  display: flex;
  margin: 6px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.img-playlist-padding{
  margin-right: 10px;
}

.brani-popolari{
  padding-top: 15px;
}

.playlist-popolari{
  display: flex;
  margin: 6px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.img-playlist-radius{
  border-radius: 50%;
}


  /*FRECCIA SULL'IMMAGINE ALL'HOVER*/
figure{
  position: relative;
}

.img-playlist{
  max-height: 140px;
  max-width: 140px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.arrow-hover{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.fa-arrow-circle-right{
  color: white;
  font-size: 60px;
}

figure:hover .img-playlist {
  opacity: 0.3;
}

figure:hover .arrow-hover {
  opacity: 1;
}

figcaption{
  text-align: center;
}
  /*FINE FRECCIA SULL'IMMAGINE ALL'HOVER*/






.contenitore-finale{

}

.finale{
  background-color: violet;
  flex-basis: 100%;
  min-height: 100px;
  /*position: fixed;*/
}
